@font-face{
  font-family: 'SF Pro Text';
  src: url("/assets/fonts/sfprodisplayregular-webfont.woff") format('woff'); 
}

@font-face{
  font-family: 'Mont';
  src: url("/assets/fonts/mont-bold-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Mont Semibold';
  src: url("/assets/fonts/mont-semibold-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Mont Light';
  src: url("/assets/fonts/mont-light-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Mont ExtraLight';
  src: url("/assets/fonts/mont-extralight-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Montserrat';
  src: url("/assets/fonts/montserrat-medium-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Montserrat Light';
  src: url("/assets/fonts/montserrat-light-webfont.woff") format('woff');
}

@font-face{
  font-family: 'Moderniz';
  src: url("/assets/fonts/moderniz900-webfont.woff") format('woff');
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
  --font-sf: "SF Pro Text", sans-serif;
  --font-mont: "Mont", sans-serif;
  --font-montsemibold: "Mont Semibold", sans-serif;
  --font-montlight: "Mont Light", sans-serif;
  --font-montextralight: "Mont ExtraLight", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-montserratlight: "Montserrat Light", sans-serif;
  --font-moderniz: "Moderniz", sans-serif;
}
