@font-face{
  font-family: SF Pro Text;
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

@font-face{
  font-family: Mont;
  src: url("/fonts/Mont-Bold.ttf");
}

@font-face{
  font-family: Mont Semibold;
  src: url("/fonts/Mont-SemiBold.ttf");
}

@font-face{
  font-family: Mont Light;
  src: url("/fonts/Mont-Light.ttf");
}

@font-face{
  font-family: Mont ExtraLight;
  src: url("/fonts/Mont-ExtraLight.ttf");
}

@font-face{
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face{
  font-family: Montserrat Light;
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face{
  font-family: Moderniz;
  src: url("/fonts/MODERNIZ 900.otf");
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
  --font-sf: SF Pro Text, 'sans-serif';
  --font-mont: Mont, 'sans-serif';
  --font-montsemibold: Mont Semibold, 'sans-serif';
  --font-montlight: Mont Light, 'sans-serif';
  --font-montextralight: Mont ExtraLight, 'sans-serif';
  --font-montserrat: Montserrat, 'sans-serif';
  --font-montserratlight: Montserrat Light, 'sans-serif';
  --font-moderniz: Moderniz, 'sans-serif';
}
